.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    min-width: 350px;
}

.InputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Img {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 200px; 
}