/*Some of the CSS styling might be in App.css*/

.DialogButtonGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.Dialog {
    min-width: 200px;
    max-width: 600px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: var(--primary-color-light) !important;
}

.Dialog-Item {
    width: 100%;
}

.TopItem {
    margin-top: 50px;
}

.DialogContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px !important;
}