.Toggle-Btn-Info-Group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: gray;
}

.Toggle-Btn-Info {
    width: 100%;
}

.ToggleBtnGroup {
    width: 100%;
}

.ToggleBtn {
    flex-grow: 1;
    flex-shrink: 1;
}