.HomePageContainer {
    max-width: 700px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.BtnGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ImportantBtn {
    color: var(--primary-color-light) !important;
    background-color: var(--primary-color-dark) !important;
}

.ImportantBtn:hover {
    color: var(--primary-color-main) !important;
}

.SecondaryBtn {
    background-color: transparent !important;
    color: var(--primary-color-dark) !important;
    border-color: var(--primary-color-dark) !important;
    border-width: 1px !important;
}