.GameList {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.GameList .GameListItem {
    flex-direction: column;
    text-align: center;
}

.GameListItem .GameInfo {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.Title {
    font-weight: bolder !important;
    font-size: large !important;
}