.amount {
    text-align: end;
}

.green-text {
    color: var(--success-color-dark);
}

.red-text {
    color: var(--error-color-main);
    text-align: right;
}

.avatar { 
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px
}

.item-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 8px 16px;
}

.ItemText {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}