.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Logout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.AppContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splitright-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.PageContainer {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.BtnGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
}

.MainBtn {
    display: flex;
    width: 100%;
    color: var(--primary-color-light) !important;
    background-color: var(--primary-color-dark) !important;
}


.MainBtn:hover {
    color: var(--primary-color-main) !important;
}

.SecondaryBtn {
    width: 100%;
    background-color: var(--primary-color-light)!important;
    color: var(--primary-color-dark) !important;
    border-color: var(--primary-color-dark) !important;
    border-width: 1px !important;
}

.Typography {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    perspective: 1px;
}    

.Box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-color-light);
    border-radius: 4px;
}

.Box .Typography {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Box .List {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
} 
