.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Logout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.AppContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splitright-logo {
    width: 200px;
    height: auto
}

.PageContainer {
    max-width: 700px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.BtnGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.Btn {
    width: 100%
}

.MainBtn {
    color: var(--primary-color-light) !important;
    background-color: var(--primary-color-dark) !important;
}

.MainBtn:hover {
    color: var(--primary-color-main) !important;
}

.SecondaryBtn {
    background-color: var(--primary-color-light)!important;
    color: var(--primary-color-dark) !important;
    border-color: var(--primary-color-dark) !important;
    border-width: 1px !important;
}

